.container{
	margin-top: 30px;
	margin-bottom: 30px;
}
img{
	width: 50px;
}
h2{
	margin: 20px 0;
	/*font-family: Montserrat;*/
}
.tab{
	color: #b5c2ca;
	font-family: Montserrat;
	font-size: 20px;
}
.tab:hover{
	text-decoration: none;
	color: #1c1c1c;
}
.active{
	color: #1c1c1c;
}
#check, #new, #home{
	font-family: Montserrat;
/*	width: 100%; */
	padding: 10px;
	margin: 10px 0;
}
ul{
	list-style-type: none;
}
ul li{
	font-family: Lato;
	font-weight: 300;
}
span, input{
	border: 1px solid #555;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 10px;
	background-color: #fafafa;
}
input{
	width: 100px;
}
.hide{
	display: none;
}
.jumbotron{
	margin: 0;
	padding: 10px;
}
.thumbnail{
	background-color: #fafafa;
	border-radius: 10px;
	margin: 10px 0;
	padding: 20px;
}
.thumbnail img{
	width: 50%;
}
img.center {
    display: block;
    margin: 0 auto;
}
.badge{
	background-color: #fafafa;
	color: #555;
}
/*COL-LG*/
@media (min-width: 1200px){	
}
@media (min-width:992px){
	ul li{
		font-size: 30px;
	}
	.alert{
		width: 150px;
	}
	p.card-text{
		padding: 0 40px;
	}
}

@media (max-width:576px){
	.card-group .card {
		margin: 0;
	}
	p.card-text{
		padding: 10px;
	}
	img{
		width: 24px;
	}
	span, input {
	    margin: 15px 10px!important;
	}
}
@media (min-width:480px){
	body{
		background: url('../img/back.jpg') no-repeat fixed;
		min-height: 100%;
		background-size: cover;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	}
	.card-block{
		margin: 20px;
	}
}
@media (max-width:480px){
	html{
		height: 100%;
		min-height: 100%;
	}
	body{
		background-color: #eaeaea;
	}
	.list-group-item{
		padding: 10px;
	}
}