<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block metadescription %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 	<link rel="stylesheet" href="{{ base_url() }}/css/style.css" />
    {% block css %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}

</body>
<script src="{{ base_url() }}/js/jquery.min.js"></script>
<script src="{{ base_url() }}/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</html>